
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
</head>
<body>
    <h2>Salvo com sucesso! id: @ViewBag.Plan.Id </h2>
    <a href="/Plan/List"> < Voltar</a>
</body>
</html>
