
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Opções:</h2>
        <a href="/Plan/List">1. Listar Planos</a>
    </div>
</body>
</html>
